<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceStudioSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceStudioSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://croman.outsystemscloud.com/ServiceCenter/ServiceStudio.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceStudioSoap"
                contract="OutSystemsService.ServiceStudioSoap" name="ServiceStudioSoap" />
        </client>
    </system.serviceModel>
</configuration>